In [1]:
import jqdatasdk as jq

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改

In [2]:
jq.auth('13600537096','g54jHtAUcitnxvV')

auth success

In [3]:
jq.get_query_count()

{'total': 1000000, 'spare': 1000000}

## 读取Fund Main表

In [4]:
import pandas as pd
import numpy as np

In [5]:
fund_main = jq.finance.run_query(jq.query(jq.finance.FUND_MAIN_INFO))

In [6]:
fund_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 11 columns):
id                          5000 non-null int64
main_code                   5000 non-null object
name                        5000 non-null object
advisor                     5000 non-null object
trustee                     5000 non-null object
operate_mode_id             5000 non-null int64
operate_mode                5000 non-null object
underlying_asset_type_id    5000 non-null int64
underlying_asset_type       5000 non-null object
start_date                  4971 non-null object
end_date                    678 non-null object
dtypes: int64(3), object(8)
memory usage: 468.8+ KB

In [7]:
import pandas as pd

fund_main['start_date']= pd.to_datetime(fund_main['start_date'])

In [8]:
fund_main['end_date']= pd.to_datetime(fund_main['end_date'])

In [9]:
fund_main = fund_main.drop(['id'],axis=1)

In [10]:
fund_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 10 columns):
main_code                   5000 non-null object
name                        5000 non-null object
advisor                     5000 non-null object
trustee                     5000 non-null object
operate_mode_id             5000 non-null int64
operate_mode                5000 non-null object
underlying_asset_type_id    5000 non-null int64
underlying_asset_type       5000 non-null object
start_date                  4971 non-null datetime64[ns]
end_date                    678 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 429.7+ KB

In [11]:
import sqlite3

conn = sqlite3.connect('db.sqlite3')

In [17]:
fund_main

,main_code,name,advisor,trustee,operate_mode_id,operate_mode,underlying_asset_type_id,underlying_asset_type,start_date,end_date
0,000001,华夏成长,华夏基金管理有限公司,中国建设银行股份有限公司,401001,开放式基金,402004,混合型,2001-12-18,NaT
1,000003,中海可转债债券,中海基金管理有限公司,中国农业银行股份有限公司,401001,开放式基金,402003,债券型,2013-03-20,NaT
2,000005,嘉实增强信用,嘉实基金管理有限公司,中国工商银行股份有限公司,401001,开放式基金,402003,债券型,2013-03-08,NaT
3,000007,鹏华国企债,鹏华基金管理有限公司,中国工商银行股份有限公司,401001,开放式基金,402003,债券型,2013-03-08,2018-08-08
4,000008,嘉实中证500ETF联接基金,嘉实基金管理有限公司,中国建设银行股份有限公司,401001,开放式基金,402005,基金型,2013-03-22,NaT
...,...,...,...,...,...,...,...,...,...,...
4995,150053,泰达500A,泰达宏利基金管理有限公司,中国银行股份有限公司,401002,封闭式基金,402001,股票型,2011-12-01,NaT
4996,150055,500A,工银瑞信基金管理有限公司,中国银行股份有限公司,401002,封闭式基金,402001,股票型,2012-01-31,NaT
4997,150057,中小300A,长城基金管理有限公司,中国建设银行股份有限公司,401002,封闭式基金,402001,股票型,2012-01-30,2018-08-13
4998,150059,资源A级,银华基金管理股份有限公司,中国银行股份有限公司,401002,封闭式基金,402001,股票型,2011-12-08,NaT
4999,150064,同瑞A,长盛基金管理有限公司,中国农业银行股份有限公司,401002,封闭式基金,402001,股票型,2011-12-06,NaT

In [12]:
sql = "delete from funds_fundmain"
conn.execute(sql)

In [13]:
conn.commit()

In [14]:
fund_main.to_sql('funds_fundmain',conn,if_exists='append',index=False)

## 读取基金净值数据

读取前100个基金的数据

In [15]:
fund_main.main_code[:100]

0     000001
1     000003
2     000005
3     000007
4     000008
       ...
95    000173
96    000174
97    000176
98    000177
99    000178
Name: main_code, Length: 100, dtype: object

读取净值数据

In [16]:
fund_net_value = jq.finance.run_query(jq.query(jq.finance.FUND_NET_VALUE).filter(jq.finance.FUND_NET_VALUE.code==fund_main.main_code[0],jq.finance.FUND_NET_VALUE.day>'2010-01-01'))

网络错误：'TTransportException(type=4, message='TSocket read 0 bytes')', 将进行重试

In [17]:
fund_net_value.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2663 entries, 0 to 2662
Data columns (total 8 columns):
id                    2663 non-null int64
code                  2663 non-null object
day                   2663 non-null object
net_value             2663 non-null float64
sum_value             2663 non-null float64
factor                2663 non-null float64
acc_factor            2663 non-null float64
refactor_net_value    2663 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 187.2+ KB

day字段转换日期格式

In [25]:
fund_net_value['day']= pd.to_datetime(fund_net_value['day'])

In [31]:
fund_net_value['day'][0]

Timestamp('2010-01-04 00:00:00')

计算日收益率

In [54]:
fund_net_value['daily_return'] = np.log(fund_net_value['sum_value']/fund_net_value['sum_value'].shift(1))*100

计算月收益率

In [55]:
fund_net_value['month_return'] = np.log(fund_net_value['sum_value']/fund_net_value['sum_value'].shift(22))*100

计算季度收益率

In [56]:
fund_net_value['quarter_return'] = np.log(fund_net_value['sum_value']/fund_net_value['sum_value'].shift(64))*100

计算累计收益率

In [57]:
fund_net_value['total_return'] = np.log(fund_net_value['sum_value']/fund_net_value['sum_value'][0])*100

In [58]:
fund_net_value

,id,code,day,net_value,sum_value,factor,acc_factor,refactor_net_value,day_return,day_month_return,day_quarter_return,day_sum_return,daily_return,month_return,quarter_return,total_return
0,2415743,000001,2010-01-04,1.469,3.250,1.0,3.442713,5.057345,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
1,2415744,000001,2010-01-05,1.476,3.257,1.0,3.442713,5.081444,0.215153,NaN,NaN,0.215153,0.215153,NaN,NaN,0.215153
2,2415745,000001,2010-01-06,1.470,3.251,1.0,3.442713,5.060788,-0.184388,NaN,NaN,0.030764,-0.184388,NaN,NaN,0.030764
3,2415746,000001,2010-01-07,1.443,3.224,1.0,3.442713,4.967835,-0.833982,NaN,NaN,-0.803217,-0.833982,NaN,NaN,-0.803217
4,2415747,000001,2010-01-08,1.447,3.228,1.0,3.442713,4.981606,0.123993,NaN,NaN,-0.679225,0.123993,NaN,NaN,-0.679225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2658,24416579,000001,2020-11-30,1.401,3.862,1.0,5.978932,8.376484,-0.155239,-0.490767,-0.696687,17.253019,-0.155239,-0.490767,-0.696687,17.253019
2659,24429008,000001,2020-12-01,1.417,3.878,1.0,5.978932,8.472147,0.413437,0.465237,-0.180343,17.666456,0.413437,0.465237,-0.180343,17.666456
2660,24438538,000001,2020-12-02,1.417,3.878,1.0,5.978932,8.472147,0.000000,0.335787,0.594855,17.666456,0.000000,0.335787,0.594855,17.666456
2661,24449728,000001,2020-12-03,1.418,3.879,1.0,5.978932,8.478126,0.025783,0.077369,0.232288,17.692239,0.025783,0.077369,0.232288,17.692239
2662,24459948,000001,2020-12-04,1.422,3.883,1.0,5.978932,8.502041,0.103066,0.051520,-0.231511,17.795305,0.103066,0.051520,-0.231511,17.795305

In [96]:
conn.execute('delete from funds_fundsnetvalue')

In [97]:
conn.commit()

In [18]:
for fund_id in fund_main.main_code[:100]:
    #读取数据
    fund_netvalue = jq.finance.run_query(jq.query(jq.finance.FUND_NET_VALUE).
                     filter(jq.finance.FUND_NET_VALUE.code==fund_id,jq.finance.FUND_NET_VALUE.day>='2010-01-01'))
    #修改字段名
    fund_netvalue['code_id'] = fund_netvalue['code']
    #删除id和code 
    fund_netvalue = fund_netvalue.drop(['id','code'],axis=1)
    #day字段转换日期格式
    fund_netvalue['day']= pd.to_datetime(fund_netvalue['day'])
    #计算日收益率
    fund_netvalue['daily_return'] = np.log(fund_netvalue['sum_value']/fund_netvalue['sum_value'].shift(1))*100
    #计算月收益率
    fund_netvalue['month_return'] = np.log(fund_netvalue['sum_value']/fund_netvalue['sum_value'].shift(22))*100
    #计算季度收益率
    fund_netvalue['quarter_return'] = np.log(fund_netvalue['sum_value']/fund_netvalue['sum_value'].shift(64))*100
    #计算累计收益率
    fund_netvalue['total_return'] = np.log(fund_netvalue['sum_value']/fund_netvalue['sum_value'][0])*100
    #保存
    fund_netvalue.to_sql('funds_fundsnetvalue',conn, if_exists='append',index=False)

网络错误：'TTransportException(type=4, message='TSocket read 0 bytes')', 将进行重试

In [70]:
sql = "select * from funds_fundsnetvalue where day='2020-12-03'"
myfunds = conn.execute(sql)

In [71]:
values = myfunds.fetchall()

In [19]:
sql = "select fund.name, fund.main_code, netvalue.day,netvalue.net_value,netvalue.sum_value,netvalue.daily_return,netvalue.month_return, netvalue.quarter_return,netvalue.total_return from funds_fundmain as fund, funds_fundsnetvalue as netvalue where fund.main_code == netvalue.code_id and netvalue.day ='2020-12-03 00:00:00'"

In [20]:
fundslist = pd.read_sql(sql,conn)

In [21]:
fundslist

,name,main_code,day,net_value,sum_value,daily_return,month_return,quarter_return,total_return
0,华夏成长,000001,2020-12-03 00:00:00,1.4180,3.879000,0.025783,0.077369,0.232288,17.692239
1,中海可转债债券,000003,2020-12-03 00:00:00,0.9630,1.173000,-0.510205,3.823228,2.241473,15.956457
2,嘉实增强信用,000005,2020-12-03 00:00:00,1.0040,1.375000,-0.072701,0.000000,0.072754,31.845373
3,嘉实中证500ETF联接基金,000008,2020-12-03 00:00:00,1.7482,1.814200,0.082715,2.806064,-1.948698,59.564460
4,易方达天天理财货币,000009,2020-12-03 00:00:00,1.0000,1.266948,0.005131,0.104400,0.298405,23.661086
...,...,...,...,...,...,...,...,...,...
79,易方达裕丰,000171,2020-12-03 00:00:00,2.0050,2.005000,0.000000,0.952150,2.117015,69.564406
80,华泰柏瑞量化增强混合A,000172,2020-12-03 00:00:00,1.5990,2.767000,-0.216607,1.272976,0.980578,101.776370
81,汇添富美丽30混合,000173,2020-12-03 00:00:00,3.1910,3.443000,0.524171,-3.341736,-5.536573,123.634318
82,汇添富高息债债券A,000174,2020-12-03 00:00:00,1.5770,1.612000,0.000000,-0.926218,-0.185931,47.747564
83,嘉实沪深300增强,000176,2020-12-03 00:00:00,1.8999,1.899900,-0.315308,4.555051,3.950919,64.180125

In [105]:
sql2 = "select fund.name, netvalue.day,netvalue.net_value,netvalue.sum_value,netvalue.daily_return,netvalue.month_return, netvalue.quarter_return,netvalue.total_return from funds_fundmain as fund, funds_fundsnetvalue as netvalue where fund.main_code == netvalue.code_id and fund.main_code ='000001'"

fundslist = pd.read_sql(sql2,conn)

fundslist

,name,day,net_value,sum_value,daily_return,month_return,quarter_return,total_return
0,华夏成长,2010-01-04 00:00:00,1.469,3.250,NaN,NaN,NaN,0.000000
1,华夏成长,2010-01-05 00:00:00,1.476,3.257,0.215153,NaN,NaN,0.215153
2,华夏成长,2010-01-06 00:00:00,1.470,3.251,-0.184388,NaN,NaN,0.030764
3,华夏成长,2010-01-07 00:00:00,1.443,3.224,-0.833982,NaN,NaN,-0.803217
4,华夏成长,2010-01-08 00:00:00,1.447,3.228,0.123993,NaN,NaN,-0.679225
...,...,...,...,...,...,...,...,...
2658,华夏成长,2020-11-30 00:00:00,1.401,3.862,-0.155239,-0.490767,-0.696687,17.253019
2659,华夏成长,2020-12-01 00:00:00,1.417,3.878,0.413437,0.465237,-0.180343,17.666456
2660,华夏成长,2020-12-02 00:00:00,1.417,3.878,0.000000,0.335787,0.594855,17.666456
2661,华夏成长,2020-12-03 00:00:00,1.418,3.879,0.025783,0.077369,0.232288,17.692239
2662,华夏成长,2020-12-04 00:00:00,1.422,3.883,0.103066,0.051520,-0.231511,17.795305